.todosnavs, .nav_beneficios, .nav_servicios, .nav_contacto, .menu_de_index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.todosnavs ul, .nav_beneficios ul, .nav_servicios ul, .nav_contacto ul, .menu_de_index ul {
  list-style: none;
  display: flex;
  gap: 90px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}
.todosnavs a, .nav_beneficios a, .nav_servicios a, .nav_contacto a, .menu_de_index a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: font-size 0.25s ease-in-out;
}
.todosnavs a:hover, .nav_beneficios a:hover, .nav_servicios a:hover, .nav_contacto a:hover, .menu_de_index a:hover {
  font-size: 25px;
}
.todosnavs img, .nav_beneficios img, .nav_servicios img, .nav_contacto img, .menu_de_index img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  transition: 0.3s;
}
.todosnavs img:hover, .nav_beneficios img:hover, .nav_servicios img:hover, .nav_contacto img:hover, .menu_de_index img:hover {
  transform: rotateZ(360deg) scale(1.1) translate(0, -5px);
}

.linea {
  border-top: 1px solid white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

/* INICIO INDEX ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.body_index {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  background-image: url(../multimedia/silueta-mujer-gimnasio.jpg);
  background-size: cover;
}

.main_de_index {
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.seccion_izquierda h1 {
  font-size: 6em;
  color: white;
  font-family: "Poppins", sans-serif;
}

.seccion_izquierda p {
  font-size: 25px;
}

.seccion_derecha {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.seccion_derecha h2 {
  font-size: 2em;
  color: white;
}
.seccion_derecha iframe {
  width: 100%;
  max-width: 560px;
  margin: 20px auto;
}
.seccion_derecha .boton_del_index {
  width: 220px;
  height: 45px;
  background: #0a5bb8;
  border-radius: 15%;
  margin-left: 30px;
  padding: 10px;
  text-align: center;
}
.seccion_derecha .boton_del_index:hover {
  background-color: #201161;
}
.seccion_derecha .boton_del_index a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.carousel-indicators {
  bottom: 10px;
}

.carousel-centered {
  margin: 0 auto;
  max-width: 40%;
  margin-bottom: 100px;
}

.carousel-inner {
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .seccion_izquierda h1 {
    font-size: 3em;
  }
  .seccion_derecha h2 {
    font-size: 1.5em;
  }
  .menu_de_index ul {
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
  }
  .main_de_index {
    flex-direction: column;
    align-items: center;
  }
  .seccion_izquierda h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .seccion_derecha iframe {
    margin: 20px auto;
  }
  .boton_del_index {
    margin-left: 0;
  }
  .carousel-centered {
    max-width: 100%;
    padding: 0 30px;
  }
  .seccion_derecha .boton_del_index {
    width: 100%;
    margin-left: 0;
  }
}
/* INICIO CONTACTO ------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_contacto {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  background-image: url(../multimedia/fondo\ contacto.jpg);
  background-size: cover;
}

.main_contacto {
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 190px;
}
.main_contacto .mapa_contactoo {
  width: 50%;
}
.main_contacto .div_formulario {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_contacto .div_formulario .formulario_contacto {
  display: flex;
  width: 490px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
  justify-content: center;
  flex-wrap: wrap;
}
.main_contacto .div_formulario .formulario_contacto h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.main_contacto .div_formulario .formulario_contacto .controls {
  width: 94%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}
.main_contacto .div_formulario .formulario_contacto .p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.main_contacto .div_formulario .formulario_contacto .a {
  color: white;
  text-decoration: none;
}
.main_contacto .div_formulario .formulario_contacto .a:hover {
  color: white;
  text-decoration: underline;
}
.main_contacto .div_formulario .formulario_contacto .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}
.gallery-container .gallery__item {
  position: relative;
}
.gallery-container .gallery__item .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(7) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(9) {
  grid-column-start: span 2;
}

.footer_contacto {
  background-color: rgba(55, 55, 202, 0.384);
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.footer_contacto h1 {
  text-align: center;
  padding-top: 10px;
}

.informacion_para_contactar {
  display: flex;
  justify-content: center;
  gap: 130px;
  padding-top: 70px;
  flex-wrap: wrap;
}

/* telefono */
.info_telefono img {
  height: 80px;
  width: 80px;
  margin-left: 130px;
}

.info_telefono h2 {
  margin-left: 70px;
  padding-top: 5px;
}

/* correo */
.info_correo img {
  margin-left: 170px;
  height: 80px;
  width: 80px;
}

/* ubi */
.info_ubicacion img {
  height: 80px;
  width: 80px;
  margin-left: 90px;
}

.info_ubicacion h2 {
  margin-right: 50px;
}

@media (max-width: 768px) {
  .nav_contacto ul {
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
  }
  .main_contacto {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 30px;
    width: 100%;
  }
  .main_contacto .mapa_contactoo {
    width: 70%;
  }
  .main_contacto .div_formulario {
    align-items: center;
  }
  .main_contacto .div_formulario .formulario_contacto {
    width: 100%;
  }
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(9) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(8) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(7) {
    grid-column-start: span 1;
    grid-row-start: span 3;
  }
  .footer_contacto {
    flex-direction: column;
  }
  .informacion_para_contactar {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .informacion_para_contactar .info_telefono {
    padding-bottom: 30px;
  }
  .informacion_para_contactar .info_telefono h2 {
    padding-right: 80px;
  }
}
/* FIN DE CONTACTO ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* INICIO DE SERVICIOS --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_servicios {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  background-image: url(../multimedia/fondo\ servicioss.jpg);
  background-size: cover;
}

.main_servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_servicios .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_servicios .nuestros_programas {
  display: flex;
  gap: 7px;
  justify-content: center;
  margin-top: 50px;
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.main_servicios .linea_main_servicios {
  border-top: 1px solid rgb(255, 255, 255);
  width: 70px;
}
.main_servicios .buscamos {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 25px;
}
.main_servicios .cuadros_servicios {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.main_servicios .cuadros_servicios div {
  border-radius: 1%;
  box-shadow: 1px 0px 37px #000;
}
.main_servicios .cuadros_servicios .servicio_uno {
  height: 400px;
  width: 500px;
  background-image: url(../multimedia/imagen\ cuadro\ musculacion.jpg);
  background-size: cover;
}
.main_servicios .cuadros_servicios .servicio_uno div {
  color: white;
  font-family: "Poppins", sans-serif;
  padding-left: 40px;
  padding-top: 310px;
  font-size: 20px;
}
.main_servicios .cuadros_servicios .servicio_dos {
  height: 400px;
  width: 500px;
  background-image: url(../multimedia/imagen\ cuadro\ funcional.jpg);
  background-size: cover;
}
.main_servicios .cuadros_servicios .servicio_dos div {
  color: white;
  font-family: "Poppins", sans-serif;
  padding-left: 40px;
  padding-top: 310px;
  font-size: 20px;
}
.main_servicios .cuadros_servicios .servicio_tres {
  height: 400px;
  width: 500px;
  background-image: url(../multimedia//imagen\ cuadro\ gapp.jpg);
  background-size: cover;
}
.main_servicios .cuadros_servicios .servicio_tres div {
  color: white;
  font-family: "Poppins", sans-serif;
  padding-left: 40px;
  padding-top: 310px;
  font-size: 20px;
}

.mas_informacion {
  text-align: center;
  margin-top: 70px;
  color: white;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.logos_servicios {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.logos_servicios .logo_ig_servicios {
  height: 60px;
  width: 60px;
}
.logos_servicios .logo_wsp_servicios {
  height: 65px;
  width: 65px;
}

@media (max-width: 768px) {
  .nav_servicios ul {
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
  }
  .main_servicios {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }
  .main_servicios .titulo {
    width: 100%;
  }
  .main_servicios .nuestros_programas h1 {
    font-size: 28px;
  }
  .main_servicios .buscamos {
    font-size: 15px;
  }
  .main_servicios .cuadros_servicios {
    width: 100%;
    align-items: center;
  }
  .main_servicios .cuadros_servicios .servicio_uno {
    width: 100%;
    height: 400px;
  }
  .main_servicios .cuadros_servicios .servicio_dos {
    height: 100%;
    width: 500px;
  }
  .main_servicios .cuadros_servicios .servicio_tres {
    height: 100%;
    width: 500px;
  }
}
/* INICIO BENEFICIOS ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.body_beneficios {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

.titulo_beneficios {
  text-align: center;
  padding: 0;
  margin-top: 60px;
}

.frase_musc,
.frase_car {
  background-color: #0a5bb8;
  padding: 20px;
  text-align: center;
}

.frase_musc p,
.frase_car p {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
}

.seccion_musculacion, .seccion_funcional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.seccion_musculacion .info_musculacion,
.seccion_musculacion .info_funcional, .seccion_funcional .info_musculacion,
.seccion_funcional .info_funcional {
  width: 50%;
}
.seccion_musculacion .info_musculacion h2,
.seccion_musculacion .info_funcional h2, .seccion_funcional .info_musculacion h2,
.seccion_funcional .info_funcional h2 {
  text-transform: uppercase;
  font-size: 45px;
  color: aliceblue;
  text-align: center;
  font-family: "Noto Sans Vithkuqi", sans-serif;
}
.seccion_musculacion .info_musculacion p,
.seccion_musculacion .info_funcional p, .seccion_funcional .info_musculacion p,
.seccion_funcional .info_funcional p {
  font-size: 24px;
}
.seccion_musculacion .boton_musculacion,
.seccion_musculacion .boton_funcional, .seccion_funcional .boton_musculacion,
.seccion_funcional .boton_funcional {
  width: 220px;
  background: #0769e9;
  border-radius: 15%;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  display: block;
  color: white;
  text-decoration: none;
}
.seccion_musculacion .boton_musculacion:hover,
.seccion_musculacion .boton_funcional:hover, .seccion_funcional .boton_musculacion:hover,
.seccion_funcional .boton_funcional:hover {
  background-color: #201161;
}
.seccion_musculacion .imagenes_musculacion,
.seccion_musculacion .imagenes_funcional, .seccion_funcional .imagenes_musculacion,
.seccion_funcional .imagenes_funcional {
  display: flex;
  gap: 20px;
}
.seccion_musculacion .imagen_beneficios_musculacion,
.seccion_musculacion .imagen_beneficios_musculacion2,
.seccion_musculacion .imagen_beneficios_cardio,
.seccion_musculacion .imagen_beneficios_cardio2, .seccion_funcional .imagen_beneficios_musculacion,
.seccion_funcional .imagen_beneficios_musculacion2,
.seccion_funcional .imagen_beneficios_cardio,
.seccion_funcional .imagen_beneficios_cardio2 {
  width: 100%;
  max-width: 350px;
  height: auto;
}
@media (max-width: 1700px) {
  .seccion_musculacion .imagen_beneficios_musculacion,
  .seccion_musculacion .imagen_beneficios_musculacion2,
  .seccion_musculacion .imagen_beneficios_cardio,
  .seccion_musculacion .imagen_beneficios_cardio2, .seccion_funcional .imagen_beneficios_musculacion,
  .seccion_funcional .imagen_beneficios_musculacion2,
  .seccion_funcional .imagen_beneficios_cardio,
  .seccion_funcional .imagen_beneficios_cardio2 {
    max-width: 250px;
  }
}
@media (max-width: 1200px) {
  .seccion_musculacion .info_musculacion,
  .seccion_musculacion .info_funcional, .seccion_funcional .info_musculacion,
  .seccion_funcional .info_funcional {
    width: 100%;
    margin-bottom: 50px;
  }
  .seccion_musculacion .seccion_musculacion,
  .seccion_musculacion .seccion_funcional, .seccion_funcional .seccion_musculacion,
  .seccion_funcional .seccion_funcional {
    flex-direction: column;
    align-items: center;
  }
  .seccion_musculacion .imagen_beneficios_musculacion,
  .seccion_musculacion .imagen_beneficios_musculacion2,
  .seccion_musculacion .imagen_beneficios_cardio,
  .seccion_musculacion .imagen_beneficios_cardio2, .seccion_funcional .imagen_beneficios_musculacion,
  .seccion_funcional .imagen_beneficios_musculacion2,
  .seccion_funcional .imagen_beneficios_cardio,
  .seccion_funcional .imagen_beneficios_cardio2 {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .seccion_musculacion .menu_de_index ul, .seccion_funcional .menu_de_index ul {
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
  }
  .seccion_musculacion .seccion_musculacion,
  .seccion_musculacion .seccion_funcional, .seccion_funcional .seccion_musculacion,
  .seccion_funcional .seccion_funcional {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .seccion_musculacion .imagenes_musculacion,
  .seccion_musculacion .imagenes_funcional, .seccion_funcional .imagenes_musculacion,
  .seccion_funcional .imagenes_funcional {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .nav_beneficios ul {
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
  }
  .seccion_musculacion {
    flex-direction: column;
    align-items: center;
  }
  .imagenes_musculacion {
    flex-direction: column;
    align-items: center;
  }
  .seccion_cardio {
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
  }
  .imagenes_cardio {
    flex-direction: column;
    align-items: center;
  }
  .frase_cardio {
    margin-top: 270px;
    width: 100%;
  }
}
/* FIN DE BENEFICIOS -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*# sourceMappingURL=editor.css.map */
