.titulo_beneficios{
    text-align: center;
    padding: 0;
    margin-top: 60px;

}
.frase_musc,
.frase_car {
  background-color: #0a5bb8;
  padding: 20px;
  text-align: center;
}

.frase_musc p,
.frase_car p {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
}


.seccion_musculacion, .seccion_funcional{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;


    .info_musculacion,
.info_funcional {
  width: 50%;
}

.info_musculacion h2,
.info_funcional h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  font-family: "Noto Sans Vithkuqi", sans-serif;
}

.info_musculacion p,
.info_funcional p {
  font-size: 25px;
}

.boton_musculacion,
.boton_funcional  {
  width: 220px;
  background: #0769e9;
  border-radius: 15%;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.boton_musculacion:hover,
.boton_funcional:hover {
  background-color: #201161;
}

.imagenes_musculacion,
.imagenes_funcional {
  display: flex;
  gap: 20px;
}

.imagen_beneficios_musculacion,
.imagen_beneficios_musculacion2,
.imagen_beneficios_cardio,
.imagen_beneficios_cardio2 {
  width: 100%;
  max-width: 350px;
  height: auto;
}



@media (max-width: 1700px) {
  .imagen_beneficios_musculacion,
  .imagen_beneficios_musculacion2,
  .imagen_beneficios_cardio,
  .imagen_beneficios_cardio2 {
    max-width: 250px;
  }
}

@media (max-width: 1200px) {
  .info_musculacion,
  .info_funcional {
    width: 100%;
    margin-bottom:50px;
  }
  .seccion_musculacion,
  .seccion_funcional {
    flex-direction: column;
    align-items: center;
  }
  .imagen_beneficios_musculacion,
  .imagen_beneficios_musculacion2,
  .imagen_beneficios_cardio,
  .imagen_beneficios_cardio2 {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .menu_de_index ul {
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
  }
  

  .seccion_musculacion,
  .seccion_funcional {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .info_musculacion p,
.info_funcional p {
  font-size: 20px;
}

  .imagenes_musculacion,
  .imagenes_funcional {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px ;
  }

}
}