.nav_contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    ul {
        list-style: none;
        display: flex;
        gap: 50px;
        margin-bottom: 0;
    }
    a{
        text-decoration: none;
        color: aliceblue;
        font-size: 18px; 
    }
    img{
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }

}
.linea_contacto{
    border-top: 1px solid white ;
    
}