.footer_contacto{
    background-color: rgba(55, 55, 202, 0.384);
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.footer_contacto h1{
    text-align: center;
    padding-top: 10px;
    
}

.informacion_para_contactar{
    display: flex;
    justify-content: center;
    gap: 130px;
    padding-top: 70px;
    flex-wrap: wrap;

}
/* telefono */
.info_telefono img{
    height: 80px;
    width: 80px;
    margin-left: 130px;
}
.info_telefono h2{
    margin-left: 70px;
    padding-top: 5px;
}

/* correo */

.info_correo img{
    margin-left: 170px;
    height: 80px;
    width: 80px;
}

/* ubi */

.info_ubicacion img{
    height: 80px;
    width: 80px;
    margin-left: 90px;
}

.info_ubicacion h2{
    margin-right: 50px;
}
