.todosnavs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    ul{
        list-style: none;
        display: flex;
        gap: 90px;
        margin-bottom: 0;
        font-family: 'Poppins', sans-serif;
    }

    

    a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition: font-size 0.25s ease-in-out;
    &:hover{
        font-size: 25px; 

    }
    }

    img{
        height: 70px;
        width: 70px;
       border-radius: 50%;
       transition:0.3s;
       &:hover{
        transform: rotateZ(360deg) scale(1.1) translate(0,-5px);
       }
    }

}

.linea{
    border-top: 1px solid white ;
}
