.body_servicios{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    background-image: url(../multimedia/fondo\ servicioss.jpg);
    background-size:cover;
    
}