
$bg-color: #0a5bb8;

@import "mixin";

@import "extend";

@import "general";




/* INICIO INDEX ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */


@import "indexbody";


/* NAV INDEX */

@import "indexnav";

/* MAIN INDEX */

@import "indexmain";

/* FOOTER INDEX */

@import "index_footer";

/* RESPONSIVE INDEX */

@media (max-width: 768px) {
    
    .menu_de_index ul {
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }

    .contenido_principal{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
            h1{
                font-size: 70px;
            }
            h2{
                font-size: 18px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .boton_principal{
                margin-left: 0;
            }
    }

    
    .carousel-centered{
        max-width: 100%;
        padding: 0 30px;
    }
    .seccion_derecha .boton_del_index {
        width: 100%;
        margin-left: 0;
    }
}






/* INICIO CONTACTO ------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@import "contactobody";

/* NAV CONTACTO */

@import "contactonav";

/* MAIN CONTACTO */

@import "contactomain";

/* GALERIA CONTACTO */

@import "contactogaleria";

/* FOOTER CONTACTO */

@import "contacto_footer";

/* RESPONSIVE CONTACTO */

@media (max-width: 768px){

    .nav_contacto ul{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;

    }

    .main_contacto{
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 30px;
        width: 100%;
        
            .mapa_contactoo{
                width: 100%;
            }

             .div_formulario{
                align-items: center;
                
                    .formulario_contacto{
                        width: 100%;
                    }
            }
    }


    .gallery-container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        width: 90%;
        margin: auto;
    }
    .gallery__item:nth-child(1){
        grid-column-start: span 2;
        grid-row-start: span 1;
    }
    .gallery__item:nth-child(4){
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
    .gallery__item:nth-child(9){
        grid-column-start: span 3;
        grid-row-start: span 3;
     }

     .gallery__item:nth-child(8){
        grid-column-start: span 2;
        grid-row-start: span 1;
     }
     .gallery__item:nth-child(7){
        grid-column-start: span 2;
        grid-row-start: span 1;
     }
     .gallery__item:nth-child(6){
        grid-column-start: span 2;
        grid-row-start: span 1;
     }

     .footer_contacto{
        flex-direction: column;
     }
     .informacion_para_contactar{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        gap: 10px;
            .info_telefono{
                padding-bottom: 30px;
            }
            .info_telefono h2{
                padding-right: 80px;
            }
     }
}




/* FIN DE CONTACTO ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/












/* INICIO DE SERVICIOS --------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@import "serviciosbody";


@import "serviciosnav";


@import "serviciosmain";


@import "serviciosfooter";

/* RESPONSIVE SERVICIO */

@media (max-width: 768px) {
    .nav_servicios ul{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }
    .titulo_beneficios{
        font-size: 30px;
    }

    .main_servicios{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 30px;
            .titulo {
                width: 100%;
            }
            .nuestros_programas h1{
            font-size: 28px;
            }
    
             .buscamos {
             font-size: 15px;
            }
            .cuadros_servicios{
                width: 100%;
                height: 100%;
                align-items: center;
                    
            }

    }

    


}









/* INICIO BENEFICIOS ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/ 


@import "beneficiosbody";

@import "beneficiosnav";

@import "beneficiosmain";

@import "beneficios_footer";

/* RESPONSIVE BENEFICIOS */

@media (max-width: 768px){
    .nav_beneficios ul{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }
    .seccion_musculacion{
        flex-direction: column;
        align-items: center;
    }
    .imagenes_musculacion{
        flex-direction: column;
        align-items: center;
    }

    .seccion_cardio{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }

    .imagenes_cardio{
        flex-direction: column;
        align-items: center;
    }
    .frase_cardio{
        margin-top: 270px;
        width: 100%;
    }
    

}



/* FIN DE BENEFICIOS -------------------------------------------------------------------------------------------------------------------------------------------------------------- */