
$bg-color: #0a5bb8;

@import "mixin";

@import "extend";

@import "general";




/* INICIO INDEX ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */


@import "indexbody";


@import "indexnav";


@import "indexmain";



@media (max-width: 768px) {
    .seccion_izquierda h1 {
        font-size: 3em;
    }

    .seccion_derecha h2 {
        font-size: 1.5em;
    }

    .menu_de_index ul {
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }

    .main_de_index {
        flex-direction: column;
        align-items: center;
    }

    .seccion_izquierda h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .seccion_derecha iframe {
        margin: 20px auto;
    }

    .boton_del_index {
        margin-left: 0;
    }
    .carousel-centered{
        max-width: 100%;
        padding: 0 30px;
    }
    .seccion_derecha .boton_del_index {
        width: 100%;
        margin-left: 0;
    }
}






/* INICIO CONTACTO ------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@import "contactobody";


@import "contactonav";


@import "contactomain";


@import "contactogaleria";

@import "contacto_footer";


@media (max-width: 768px){

    .nav_contacto ul{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;

    }

    .main_contacto{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
        align-items: center;
        padding: 30px;
             .div_formulario{
                align-items: center;
                .formulario_contacto{
                    width: 100%;
                }
            }
    }


    .gallery-container{
        grid-template-columns: repeat(4,1fr);
        width: 90%;
        margin: auto;
    }
    .gallery__item:nth-child(1){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(4){
        grid-column-start: span 1;
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(9){
        grid-column-start: span 2;
        grid-row-start: span 2;
     }

     .gallery__item:nth-child(8){
        grid-column-start: span 1;
        grid-row-start: span 2;
     }
     .gallery__item:nth-child(7){
        grid-column-start: span 1;
        grid-row-start: span 3;
     }

     .footer_contacto{
        flex-direction: column;
     }
     .informacion_para_contactar{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
            .info_telefono{
                padding-bottom: 30px;
            }
            .info_telefono h2{
                padding-right: 80px;
            }
     }
}




/* FIN DE CONTACTO ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/












/* INICIO DE SERVICIOS --------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@import "serviciosbody";


@import "serviciosnav";


@import "serviciosmain";


@import "serviciosfooter";



@media (max-width: 768px) {
    .nav_servicios ul{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }

    .main_servicios{
        flex-direction: column;
        align-items: center;
            .nuestros_programas h1{
            font-size: 28px;
            }
    
             .buscamos {
             font-size: 15px;
            }
            .cuadros_servicios{
                align-items: center;
                    .servicio_uno{
                        height: 400px;
                        width: 500px;
                    }
                    .servicio_dos{
                        height: 400px;
                        width: 500px;
                    }
                    .servicio_tres{
                        height: 400px;
                        width: 500px;
                    }
            }

    }

    


}






/* INICIO BENEFICIOS ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/ 


@import "beneficiosbody";



@import "beneficiosnav";



@import "beneficiosmain";



@media (max-width: 768px){
    .nav_beneficios ul{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }
    .seccion_musculacion{
        flex-direction: column;
        align-items: center;
    }
    .imagenes_musculacion{
        flex-direction: column;
        align-items: center;
    }

    .seccion_cardio{
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }

    .imagenes_cardio{
        flex-direction: column;
        align-items: center;
    }
    .frase_cardio{
        margin-top: 270px;
        width: 100%;
    }
    

}



/* FIN DE BENEFICIOS -------------------------------------------------------------------------------------------------------------------------------------------------------------- */